@using Senparc.Weixin.QY.AdvancedAPIs.MailList
@using PHDS.core.Utility
@using PHDS.core.Entities.Pinhua

@{
    ViewData["Title"] = "打卡";
    var memberResult = ViewData["Member"] as GetMemberResult;
    var currentWorkTime = PinhuaContext.GetCurrentWorkPlanDetail();
    Context.Session.SetString("memberResult", Newtonsoft.Json.JsonConvert.SerializeObject(memberResult));
}
<div class="row text-center bg-primary" style="font-size:22px;padding:30px 0px 30px 0px">
    <p><i class="fa fa-clock-o"></i> <span id="current-time"></span></p>
    <div>
        @if (currentWorkTime == null)
        {
            <p style="margin-top:20px;">非工作时间</p>
        }
        else
        {
            <div style="font-size:16px;">
                @if (currentWorkTime.IsRangeOfBegin())
                {
                    <a asp-action="ClockIn" class="btn btn-success"><i class="fa fa-arrow-up"></i> @(currentWorkTime.Name)上班</a>
                }
                else if (currentWorkTime.IsRangeOfEnd())
                {
                    <a asp-action="ClockOut" class="btn btn-danger"><i class="fa fa-arrow-down"></i> @(currentWorkTime.Name)下班</a>
                }
                else
                {
                    <p>非打卡时间</p>
                    <p>上班卡：@currentWorkTime.ToBeginRangeString()</p>
                    <p>下班卡：@currentWorkTime.ToEndRangeString()</p>
                }
            </div>
        }
    </div>
</div>

<h3>@ViewData["Message"]</h3>

@section Styles{
    <style>
        #table1 > tbody > tr > td {
            border: 0;
        }
    </style>
}
<div class="alert alert-danger" style="padding:0" role="alert">
    <table id="table1" class="table">
        <tr><td class="col-xs-4">用户号</td><td>@memberResult?.userid</td></tr>
        <tr><td>姓名</td><td>@memberResult?.name</td></tr>
        <tr><td>部门</td><td>@GetMemberDepartments(memberResult?.department)</td></tr>
        <tr>
            <td class="col-xs-4">公司网络</td>
            <td>@(isInternalNetwork() ? Html.Raw("是") : Html.Raw("否"))</td>
        </tr>
        <tr>
            <td>当前班段</td>
            <td>@currentWorkTime?.ToRangeString() @currentWorkTime?.Name</td>
        </tr>
        <tr>
            <td>上班卡</td>
            <td>
                @currentWorkTime?.ToBeginRangeString() @if (currentWorkTime.IsRangeOfBegin())
                {
                    <i class="fa fa-check"></i>
                }
                else
                {
                    <i class="fa fa-close"></i>
                }
            </td>
        </tr>
        <tr>
            <td>下班卡</td>
            <td>
                @currentWorkTime?.ToEndRangeString() @if (currentWorkTime.IsRangeOfEnd())
            {
                    <i class="fa fa-check"></i>
                }
                else
                {
                    <i class="fa fa-close"></i>
                }
            </td>
        </tr>
    </table>
</div>

@section Scripts{
    <script>
    // 对Date的扩展，将 Date 转化为指定格式的String
    // 月(M)、日(d)、小时(h)、分(m)、秒(s)、季度(q) 可以用 1-2 个占位符，
    // 年(y)可以用 1-4 个占位符，毫秒(S)只能用 1 个占位符(是 1-3 位的数字)
    // 例子：
    // (new Date()).Format("yyyy-MM-dd hh:mm:ss.S") ==> 2006-07-02 08:09:04.423
    // (new Date()).Format("yyyy-M-d h:m:s.S")      ==> 2006-7-2 8:9:4.18
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1,                 //月份
            "d+": this.getDate(),                    //日
            "h+": this.getHours(),                   //小时
            "m+": this.getMinutes(),                 //分
            "s+": this.getSeconds(),                 //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds()             //毫秒
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }

    $(document).ready(function () {
        var _timestamp = @DateTime.Now.AsJavascriptsOrUnixTicks();
        var formatter = 'hh:mm:ss'
        var now = (new Date(_timestamp)).Format(formatter);
        $('#current-time').text(now);
        setInterval(function () {
            _timestamp += 1000
            var now = (new Date(_timestamp)).Format(formatter);
            $('#current-time').text(now);
        }, 1000);
    })
    </script>
}

@functions{
    public bool isInternalNetwork()
    {
        var clockOptions = PinhuaContext.WeixinClockOptions.FirstOrDefault();
        return Context.Connection.RemoteIpAddress.ToString() == clockOptions.Ip;
    }

    public string GetMemberDepartments(int[] ids)
    {
        if (ids == null)
            return "";

        var result = ViewData["DepartmentList"] is GetDepartmentListResult ? ViewData["DepartmentList"] as GetDepartmentListResult : new GetDepartmentListResult();
        var departments = from p in result.department
                          where ids.Contains(p.id)
                          select p.name;
        return string.Join("，", departments);
    }
}
